$body-font-family := 'Arial'
$font-size-root := 12px
$line-height-root := 1.2

$list-tile-font-size := 15px
$list-top-padding := 4px
$list-bottom-padding := 4px
$list-item-single-height := 40px
$list-item-double-height := 64px
$list-item-triple-height := 80px

@import '../../node_modules/vuetify/src/stylus/main'

